@model OnlineVoteApplication.Models.Mpseat

@{
    ViewData["Title"] = "CreateMPSeats";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create MP Seats</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMPSeats">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" required="required" autocomplete="off" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfSeats" class="control-label"></label>
                <input asp-for="NoOfSeats" class="form-control" required="required" autocomplete="off" />
                <span asp-validation-for="NoOfSeats" class="text-danger"></span>
            </div><br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
