@model OnlineVoteApplication.Models.AdminUsers

@{
    ViewData["Title"] = "CreateAdminUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create Admin Users</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAdminUsers" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminName" class="control-label"></label>
                <input asp-for="AdminName" class="form-control" required="required" autocomplete="off" />
                <span asp-validation-for="AdminName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailID" class="control-label"></label>
                <input asp-for="EmailID" class="form-control" required="required" autocomplete="off" />
                <span asp-validation-for="EmailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" required="required" autocomplete="off" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" required="required" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div><br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewAdminUsers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
